ui-select(data-ng-model='model[options.key]' data-required='{{to.required}}' data-disabled='{{to.disabled}}' theme='bootstrap')
    uiselect-match(placeholder='{{to.placeholder}}') {{$select.selected[to.labelProp]}}
    ui-select-choices(data-repeat="{{to.ngOptions}}")
        div(ng-bind-html="option[to.labelProp] | highlight: $select.search")